{
  "presets": [
    [
      "env"
    ],
    "stage-0",
    "flow"
  ],
  "plugins": [
    [
      "transform-runtime",
      {
        "polyfill": false,
        "regenerator": true
      }
    ],
    "syntax-flow",
    "transform-flow-strip-types",
    "transform-class-properties"
  ]
}
